@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:wght@700|Cardo:wght@300');

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #43405C;
    font-family: "Josefin Sans", sans-serif;
    color: #997cdf;
    height: 100%;
    font-size: 1em;
}

/* HEADER */

header {
    position: absolute;
    background-color: rgba(37,23,26,0.98);
    width: 100%;
}

#artist-small {
    display: none;
}

#artist-big {
    display: initial;
    color: #C8C5E3;
}

#artist-big, #artist-small {
    font-family: Cardo, sans-serif;
    text-transform: uppercase;
}
#artist-big, #artist-small {
    font-size: 2em;
    margin-left: 20px;
    line-height: 55px;
    letter-spacing: 6px;
}

#artist-big a, #artist-small a {
    text-decoration: none;
    color: #C8C5E3; /* #997cdf; */
}

/* NAVIGATION */

#menu_mobile {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    z-index: 10;
}

/* NAVIGATION > TABLET AND DESKTOP */
#menu_desktop {
    display: none;
}

/* NAVIGATION > MOBILE */
#checkbox-toggle {
    opacity: 0;
  }
  #toggle-button i.fa-times { /* cross icon */
    display: none;
}
#toggle-button i.fa-bars { /* hamburger icon */
    display: initial;
    color: #C8C5E3;
}
  #checkbox-toggle:checked ~ #left-socials {
    left: 0 !important;
  }
  #checkbox-toggle:checked ~ #right-nav {
    right: 0 !important;
  }

  #checkbox-toggle:checked ~ #toggle-button i.fa-bars {
    display: none;
}
#checkbox-toggle:checked ~ #toggle-button i.fa-times {
    display: initial;
    background: none;
    margin-right: 8px;
    color: #C8C5E3;
}
  #toggle-button {
    position: absolute;
    top: 8px;
    right: 11px;
    cursor: pointer;
    z-index: 1; /* required to make it able to interact upon opening hamburger menu */
  }

  #menu_mobile {
      width: 100%;
      height: 100%;
  }

  #toggle-button i.fa-bars { /* hamburger */
    font-size: 2em;
    display: block;
  background: rgba(37,23,26,0.85);
  width: 39px;
  line-height: 38px;
  text-align: center;
}

#toggle-button i.fa-times { /* cross */
    font-size: 2em;
  line-height: 38px;
  text-align: center;
}

  #left-socials, #right-nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    list-style: none;
    background-color: rgba(37,23,26,0.95);
    transition-duration: 0.35s;
  }
  
    #left-socials {
      left: -100%; /* -100% */
      width: 30%;
  }
  #left-socials ul li {
    list-style: none;
    text-align: center;
      font-size: 7vh;
      line-height: 2.9em;
  }

#left-socials ul li a, #right-nav ul li a {
    color: #9689F6;
    text-decoration: none;
    display: block;
}

  #left-socials ul li a {
    width: 30vw; /* block + width extend clickable range */
  }

    #right-nav {
      right: -100%; /* -100% */
      width: 70%;
  }

  #right-nav ul li {
    list-style: none;
    text-align: center;
    font-size: 6vmin;
    line-height: 3em;
  }

  #right-nav ul li a {
    width: 70vw; /* block + width extend clickable range */
    background-color: rgba(255,255,255,0.1);
    margin-top: 10px;
    margin-bottom: 10px;
  }

#right-nav ul li a.active {
    color: #C8C5E3;
    background-color: #555080;
    font-weight: bold;
}

/* CONTENT */
/* CONTENT > GENERAL */
main {
    margin: 60px 3vw 0 3vw;
    position: relative;
}

a.link {
    text-decoration: none;
    color: #C8C5E3;
}

i.fa-external-link-alt {
    font-size: 0.75em;
}

/* CONTENT > HOME */

/* CONTENT > PORTFOLIO */

/*
#gallery article:not(:last-child) {
    margin-bottom: 15px;
}

#gallery h2{
    font-size: 2em;
    margin-left: 20px;
    width: 90%;
    color: #C8C5E3;
    text-transform: uppercase;
}
*/

#gallery h2 {
    position: sticky;
    top: 8px;
    background-color: #25171A;
    border-bottom: 4px solid #997cdf;
    padding: 10px;
    font-size: 1.125em; /* to almost perfectly align with the sticky hamburger menu */
    font-weight: bold;
    z-index: 1;
}

#gallery section:not(:first-child) {
    margin-top: 50px;
}

#gallery h2+p {
    font-size: 1em;
    padding: 10px;
    color: #25171A;
    background-color: #997cdf;
}

.section-images div, .section-images-small div {
    position: relative;
}

.img-desc {
    color: #997cdf;
    background-color: rgba(37,23,26,0.85);
    padding: 10px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 4px;
    font-size: 1em;
    text-align: center;
}

.section-images, .section-images-small { 
    column-gap: 0px;
}
.section-images {
    column-count: 2;
}
.section-images-small {
    column-count: 2;
}

.section-images-small img {
    padding: 10px 0 10px; /* most stickers dont reach their full width but do their height */
}

img.thumbnail {
    width: 100%;
}

.section-images img.thumbnail {
    background-color: #696490;
}

span.lightbox {
    z-index: 999999;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.15s linear;
  }
  
  span.lightbox img {
    position: fixed;
    margin: 0;
    padding: 0;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  img.thumbnail:focus + span.lightbox {
    visibility: visible;
    opacity: 1;
  }
  
/* CONTENT > COMISSIONS */
#comissions section:not(:last-of-type) {
    margin-bottom: 40px;
}
#comissions h2 {
    position: sticky;
    top: 8px;
    background-color: #25171A;
    border-bottom: 4px solid #997cdf;
    padding: 10px;
    font-size: 1.125em; /* to almost perfectly align with the sticky hamburger menu */
    margin-bottom: 10px;
    font-weight: bold;
}

#comissions section ol {
    list-style-position: inside;
    padding-left: 5px;
}
#comissions ol li {
    margin-bottom: 10px;
} 

#comissions p:not(p.ignore) {
    margin-bottom: 15px;
}

.table {
    display: grid;
    grid-template-columns: auto auto;
}
.table strong {
    font-size: 1.1em;
}
.table ul {
    list-style-type: none;
}
.table ul li {
    padding: 5px;
}
.table ul li:nth-child(odd) {
    background-color: rgba(37,23,26,0.35);
}
#comissions p.ignore {
    margin-left: 10px;
}

#comissions section:last-of-type p {
    letter-spacing: 0.5px;
}
#comissions section i {
    display: block;
}

/* CONTENT > ABOUT */
section#about {
    float: left;
}

section#about p:not(:last-child) {
    margin-bottom: 20px;
}

#about-image img {
    width: 100%;
    margin-bottom: 20px;
    border: 2px dashed rgba(37,23,26,0.25);
    box-sizing: border-box;
}

/* CONTENT > CONTACT */
#contact p {
    margin-bottom: 20px;
}

#contact label {
    font-size: 1.5em;
}

#contact input, #contact textarea {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    width: 100%;
    line-height: 30px;
    background-color: #25171A;
    padding: 10px;
    color: #C8C5E3;
    box-sizing: border-box;
}

#contact input:not(:last-child), #contact textarea {
    margin-bottom: 20px;
}

#contact textarea {
    resize:vertical;
    height: 5em;
}

#contact input.submit {
    background-color: #C8C5E3;
    color: #25171A;
}


/* FOOTER */
footer {
    display: none;
}

/* ================================================================== */
/* MEDIA QUERIES */
/* MEDIA QUERIES > PORTFOLIO OPTIMIZATION */
@media (max-width: 512px) {
    .section-images {
        column-count: 1;
    }

    .small {
        column-count: 3;
        margin: 20px 0 20px 0;
    }
}

/* MEDIA QUERIES > ARTIST TITLE OPTIMIZATION */
@media (max-width: 359px) {
    #artist-small {
        display: initial;
    }
    #artist-big {
        display: none;
    }
}

/* MEDIA QUERIES > TABLET CHANGES */
@media (min-width: 769px) {

    /* fix me */
    img.thumbnail, span.lightbox {
        cursor: hand;
      }

    header {
        position: sticky;
        top: 0;
        height: 100px;
        box-shadow: 0 0 10px #25171A;
    }

    #artist-big {
        font-size: 3em;
        line-height: 100px;
        padding-left: 20px;
    }

    #artist-big a:hover {
        color: #C8C5E3;
    }

    /* NAVIGATION > MOBILE */
    #menu_mobile {
        display: none;
    }

    /* NAVIGATION > DESKTOP */
    #menu_desktop {
        display: initial;
        font-size: 1.5vw;
        height: 100%;
        float: right;
    }
    
    #menu_desktop li {
        list-style-type: none;
        float: left;
        display: block;
    }
    
    #menu_desktop a {
        display: inline-block;
        text-decoration: none;
        color: #9689F6;
        height: 100%;
        line-height: 100px;
        text-align: center;
        transition: all 0.15s ease-out;
        padding: 0 2vw 0 2vw;
    }
    
    #menu_desktop a:hover {
        color: #C8C5E3;
        padding-top: 20px;
        background-color: #555080;
        font-weight: bold;
        transition: all 0.15s ease-in;
        box-shadow: 0 0 10px #555080;
    }
    
    #menu_desktop a.active {
        color: #C8C5E3;
        padding-top: 20px;
        background-color: #43405C;
        font-weight: bold;
        box-shadow: 0 0 6px #25171A;
    }
    
    #menu_desktop li {
        line-height: 60px;
    }

    /* CONTENT */
    main {
        padding-top: 45px;
        padding: 45px 0 20px 20px;
    }

    /* CONTENT > PORTFOLIO */

    #gallery h2{
        font-size: 3em;
    }
    
    #gallery p {
        font-size: 2em;
    }

    #gallery article:not(:last-child) {
        margin-bottom: 50px;
    }

    /* CONTENT > CONTACT */
    .grid {
        display: grid;
        grid-template-columns: fit-content(40%);
        grid-column-gap: 100px;
    }

    #contact-socials {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    #contact-socials li {
        list-style-type: none;
    }

    #contact-form, #contact-socials {
        float: left;
        width: 20%;
    }
    /* FOOTER */

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #25171A;
        width: 100%;
        height: 100px;
        margin-top: 100px;
    }

    footer li {
        list-style-type: none;
        float: left;
        display: block;
    }

    footer li a {
        display: inline-block;
        font-size: 2em;
        color: #9689F6;
        line-height: 100px;
        width: 250px;
        text-align: center;
    }

    footer li a:hover {
        color: #C8C5E3;
        font-weight: bold;
        background-color: #555080;
    }
}

/* MEDIA QUERIES > SMALL DESKTOP / BIG TABLET CHANGES */
@media (min-width: 1024px) {
    .section-images {
        column-count: 3;
    }

    .small {
        column-count: 5;
        margin: 20px 0 20px 0;
    }
}

/* MEDIA QUERIES > BIG SCREEN CHANGES */
@media (min-width: 1680px) {
    .section-images {
        column-count: 4;
    }
    .small {
        column-count: 6;
        margin: 20px 0 20px 0;
    }
}