@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans:wght@700&display=swap');

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #B39CE7;
    background-color: #432f4e;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1em;
    box-sizing: inherit;
}



/* HEADER */

header {
    position: absolute;
    background-color: #25171A;
    width: 100%;
    height: 50px;
    line-height: 56px;
}

#artist-small {
    display: none;
}

#artist-big {
    display: initial;
    color: #C8C5E3;
}

#artist-big,
#artist-small {
    font-family: Cardo, sans-serif;
    text-transform: uppercase;
}

#artist-big,
#artist-small {
    font-size: 2em;
    margin-left: 20px;
    letter-spacing: 6px;
}

#artist-big a,
#artist-small a {
    text-decoration: none;
    color: #C8C5E3;
}

/* NAVIGATION */

#menu_mobile {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0px;
    z-index: 10;
}

/* NAVIGATION > TABLET AND DESKTOP */
#menu_desktop {
    display: none;
}

/* NAVIGATION > MOBILE */
#checkbox-toggle {
    visibility: hidden;
}

#toggle-button i.fa-times {
    /* cross icon */
    display: none;
}

#toggle-button i.fa-bars {
    /* hamburger icon */
    display: initial;
    color: #C8C5E3;
}

#checkbox-toggle:checked~#left-socials {
    left: 0 !important;
}

#checkbox-toggle:checked~#right-nav {
    right: 0 !important;
}

#checkbox-toggle:checked~#toggle-button i.fa-bars {
    display: none;
}

#checkbox-toggle:checked~#toggle-button i.fa-times {
    display: initial;
    background: none;
    margin-right: 8px;
    color: #C8C5E3;
}

#toggle-button {
    position: absolute;
    top: 8px;
    right: 11px;
    cursor: pointer;
    z-index: 1;
    /* required to make it able to interact upon opening hamburger menu */
}

#menu_mobile {
    width: 100%;
    height: 100%;
}

#toggle-button i.fa-bars {
    /* hamburger */
    font-size: 2em;
    display: block;
    background: rgba(37, 23, 26, 0.85);
    width: 39px;
    line-height: 38px;
    text-align: center;
}

#toggle-button i.fa-times {
    /* cross */
    font-size: 2em;
    line-height: 38px;
    text-align: center;
    text-shadow: 0 0 2px #000, 0 0 10px #000, 0 0 30px #000;
}

#left-socials,
#right-nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    list-style: none;
    transition-duration: 0.35s;
}

#left-socials {
    left: -100%;
    /* -100% */
    width: 30%;
    background-color: #25171A;
    border-right: 1px solid #25171A;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}

#left-socials ul li {
    list-style: none;
    text-align: center;
    font-size: 7vh;
    line-height: 2.9em;
}

#left-socials ul li a,
#right-nav ul li a {
    color: #C8C5E3;
    text-decoration: none;
    display: block;
}

#left-socials ul li a {
    width: 30vw;
    /* block + width extend clickable range */
}

#right-nav {
    right: -100%;
    /* -100% */
    width: 70%;
    background-color: rgba(37, 23, 26, 0.95);
}

#right-nav ul li {
    list-style: none;
    text-align: center;
    font-size: 6vmin;
    line-height: 3em;
}

#right-nav ul li a {
    width: 70vw;
    /* block + width extend clickable range */
    background-color: rgba(200, 197, 227, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}

#right-nav ul li a.active {
    color: #161429;
    background-color: #B3BF49;
    font-weight: bold;
}

/* CONTENT */
/* CONTENT > GENERAL */
main#gallery,
main#comissions,
main#about,
main#contact {
    margin: 50px 3vw 25px 3vw;
    position: relative;
}

main#home {
    margin: 33px 0 50px 0;
}

a.link {
    text-decoration: none;
    color: #CEE002;
}

i.fa-external-link-alt {
    font-size: 0.75em;
}

/* CONTENT > SHARED */
main#gallery h2,
main#comissions h2 {
    position: sticky;
    top: 7px;
    background-color: #25171A;
    border-bottom: 4px solid #997cdf;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 1;
    height: 20px;
}

/* CONTENT > HOME */

main#home section {
    height: 600px;
    width: 100%;
    position: relative;
}

.fa-chevron-down {
    position: absolute;
    text-shadow: 0 0 2px #000, 0 0 10px #000, 0 0 30px #000;
    font-size: 3em;
    top: 93%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #C8C5E3;
}

#hero-image {
    background-image: url("../images/carousel/collage_posters.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 350%;
    height: 100%;
}

#hero-text {
    text-align: center;
    margin: 20px 3vw 0 3vw;
}

main#home h2 {
    font-size: 2em;
    color: #C8C5E3;
}

main#home a {
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    background-color: #B3BF49;
    text-decoration: none;
    color: #25171A;
    font-size: 1.5em;
    margin-bottom: 10px;
}

main#home p {
    padding: 10px 0 10px;
}

main#home ul {
    list-style-type: none;
}

#hero-image {
    animation-name: hero-scroll;
    animation-duration: 60s;
    animation-fill-mode: forward;
    animation-iteration-count: infinite;
}

@keyframes hero-scroll {
    0% {
        background-image: url("../images/carousel/collage_posters.jpg");
        background-position: left;
    }

    12% {
        background-image: url("../images/carousel/collage_posters.jpg");
    }

    16% {
        background-image: url("../images/carousel/collage_stickers.jpg");
        background-position: right;
    }

    29% {
        background-image: url("../images/carousel/collage_stickers.jpg");
    }

    33% {
        background-image: url("../images/carousel/collage_paintings.jpg");
        background-position: left;
    }

    46% {
        background-image: url("../images/carousel/collage_paintings.jpg");
    }

    50% {
        background-image: url("../images/carousel/collage_posters.jpg");
        background-position: right;
    }

    62% {
        background-image: url("../images/carousel/collage_posters.jpg");
    }

    66% {
        background-image: url("../images/carousel/collage_stickers.jpg");
        background-position: left;
    }

    79% {
        background-image: url("../images/carousel/collage_stickers.jpg");
    }

    83% {
        background-image: url("../images/carousel/collage_paintings.jpg");
        background-position: right;
    }

    96% {
        background-image: url("../images/carousel/collage_paintings.jpg");
    }

    100% {
        background-image: url("../images/carousel/collage_posters.jpg");
        background-position: left;
    }
}


/* CONTENT > PORTFOLIO */
main#gallery section:not(:first-child) {
    margin-top: 50px;
}

img.thumbnail {
    width: 100% !important;
    height: auto !important;
}

img.thumbnail {
    background-color: #696490;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.section-images {
    column-count: 2;
    column-gap: 1em;
    width: 100%;
}

.section-images div {
    margin-bottom: 0.8em;
}

span.lightbox {
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.15s linear;
}

img.full {
    position: fixed;
    margin: 0;
    padding: 0;
    max-height: 90%;
    max-width: 90%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

img.thumbnail:focus+span.lightbox {
    visibility: visible;
    opacity: 1;
}

/* CONTENT > COMISSIONS */
main#comissions h2 {
    margin-bottom: 20px;
}

main#comissions section:not(:last-of-type) {
    margin-bottom: 40px;
}

main#comissions section ol {
    list-style-position: inside;
    padding-left: 5px;
}

main#comissions ol li {
    margin-bottom: 10px;
}

main#comissions p:not(p.ignore) {
    margin-bottom: 15px;
}

.table {
    display: grid;
    grid-template-columns: auto auto;
}

.table strong {
    font-size: 1.1em;
}

.table ul {
    list-style-type: none;
}

.table ul li {
    padding: 5px;
}

.table ul li:nth-child(odd) {
    background-color: rgba(37, 23, 26, 0.35);
}

#comissions p.ignore {
    margin-left: 10px;
}

#comissions section:last-of-type p {
    letter-spacing: 0.5px;
}

#comissions section i {
    display: block;
}

/* CONTENT > ABOUT */
main#about p:not(:last-child) {
    margin-bottom: 20px;
}

#about-image img {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

/* CONTENT > CONTACT */
main#contact p {
    margin-bottom: 20px;
}

main#contact label {
    font-size: 1.5em;
}

main#contact input,
main#contact textarea {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    width: 100%;
    line-height: 30px;
    background-color: #25171A;
    padding: 10px;
    color: #C8C5E3;
    box-sizing: border-box;
}

main#contact input:not(:last-child),
main#contact textarea {
    margin-bottom: 20px;
}

main#contact textarea {
    resize: vertical;
    height: 5em;
}

main#contact input.submit {
    background-color: #C8C5E3;
    color: #25171A;
    font-weight: bold;
    letter-spacing: 1px;
}


/* FOOTER */
footer {
    display: none;
}

/* ================================================================== */
/* MEDIA QUERIES */
/* MEDIA QUERIES > ARTIST TITLE OPTIMIZATION */
@media (max-width: 359px) {
    #artist-small {
        display: initial;
    }

    #artist-big {
        display: none;
    }
}

/* MEDIA QUERIES > TABLET CHANGES */
@media (min-width: 430px) {

    body {
        font-size: 1.25em;
    }

    header {
        position: absolute;
        background-color: #25171A;
        width: 100%;
        height: 65px;
        line-height: 70px;
    }

    #toggle-button i.fa-bars {
        /* hamburger */
        font-size: 2em;
        background: rgba(37, 23, 26, 0.85);
        width: 49px;
        line-height: 48px;
    }

    #toggle-button i.fa-times {
        /* cross */
        font-size: 2em;
    }

    /* CONTENT */
    /* CONTENT > GENERAL */
    main#gallery,
    main#comissions,
    main#about,
    main#contact {
        margin: 65px 3vw 25px 3vw;
        position: relative;
    }

    main#home {
        margin: 45px 0 50px 0;
    }

    /* CONTENT > SHARED */
    main#gallery h2,
    main#comissions h2 {
        position: sticky;
        top: 8px;
        background-color: #25171A;
        border-bottom: 4px solid #997cdf;
        padding: 10px;
        font-size: 1.5em;
        font-weight: bold;
        z-index: 1;
        height: 28px;
    }

    /* CONTENT > HOME */
    #hero-image {
        background-size: 200%;
        background-position-y: 280px;
    }

    /* CONTENT > PORTFOLIO */
    .section-images {
        column-count: 3;
        column-gap: 2em;
    }

    .section-images div {
        margin-bottom: 1.2em;
    }

    /* CONTENT > CONTACT */
    main#contact input:not(:last-child),
    main#contact textarea {
        margin-bottom: 30px;
    }

    main#contact textarea {
        resize: vertical;
        height: 10em;
    }

}

@media (min-height: 745px) {

    /* CONTENT > HOME */
    .fa-chevron-down {
        visibility: hidden;
    }
}

/* MEDIA QUERIES > SMALL DESKTOP / BIG TABLET CHANGES */
@media (min-width: 1024px) {

    /* CONTENT > HOME */
    #hero-image {
        background-size: 200%;
    }

    /* CONTENT > PORTFOLIO */
    .section-images {
        column-count: 4;
        column-gap: 2em;
    }

    .section-images div {
        margin-bottom: 1.2em;
    }

}

/* MEDIA QUERIES > BIG SCREEN CHANGES */
@media (min-width: 1680px) {

    body {
        font-size: 1em;
    }

    /* CONTENT > GENERAL */
    main#gallery,
    main#comissions,
    main#about,
    main#contact {
        margin: 70px 5vw 0 5vw;
        position: relative;
    }

    main#home {
        margin: -280px 0 50px 0;
    }

    /* CONTENT > SHARED */
    main#gallery h2,
    main#comissions h2 {
        position: sticky;
        top: 99px;
        background-color: rgba(37, 23, 26, 0.85);
        border-bottom: 4px solid #997cdf;
        padding: 10px;
        font-size: 1.5em;
        font-weight: bold;
        z-index: 1;
        height: 48px;
    }

    header {
        position: sticky;
        top: 0;
        height: 100px;
        box-shadow: 0 0 10px #25171A;
        z-index: 2;
    }

    #artist-big {
        font-size: 3em;
        line-height: 100px;
        padding-left: 20px;
    }

    #artist-big a:hover {
        color: #C8C5E3;
    }

    /* NAVIGATION > MOBILE */
    #menu_mobile {
        display: none;
    }

    /* NAVIGATION > DESKTOP */
    #menu_desktop {
        display: initial;
        font-size: 1.5vw;
        height: 100%;
        float: right;
    }

    #menu_desktop li {
        list-style-type: none;
        float: left;
        display: block;
    }

    #menu_desktop a {
        display: inline-block;
        text-decoration: none;
        color: #9689F6;
        height: 100%;
        line-height: 100px;
        text-align: center;
        transition: all 0.15s ease-out;
        padding: 0 2vw 0 2vw;
    }

    #menu_desktop a:hover {
        color: #555080;
        padding-top: 20px;
        background-color: #C8C5E3;
        font-weight: bold;
        transition: all 0.15s ease-in;
        box-shadow: 0 0 10px #555080;
    }

    #menu_desktop a.active {
        color: #25171A;
        text-shadow: 0 0 2px #25171A;
        padding-top: 20px;
        background-color: #B3BF49;
        font-weight: bold;
        box-shadow: 0 0 6px #B3BF49;
    }

    #menu_desktop li {
        line-height: 60px;
    }

    /* CONTENT */
    /* CONTENT > HOME */
    main#home section {
        height: 100vh;
        width: 100%;
        position: relative;
    }

    #hero-image {
        background-size: 100%;
    }

    #hero-text {
        text-align: center;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.65);
        padding: 25px;
        right: 0;
        bottom: 0;
        margin: 0 30px 30px;
        color: #25171A;
    }

    main#home h2 {
        font-size: 2em;
        color: #25171A;
    }

    main#home a {
        margin-top: 10px;
        display: inline-block;
        padding: 10px;
        background-color: #B3BF49;
        text-decoration: none;
        color: #25171A;
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    main#home p {
        padding: 10px 0 10px;
    }

    main#home ul {
        list-style-type: none;
    }

    @keyframes hero-scroll {
        0% {
            background-image: url("../images/carousel/collage_posters.jpg");
        }

        12% {
            background-image: url("../images/carousel/collage_posters.jpg");
        }

        16% {
            background-image: url("../images/carousel/collage_stickers.jpg");
        }

        29% {
            background-image: url("../images/carousel/collage_stickers.jpg");
        }

        33% {
            background-image: url("../images/carousel/collage_paintings.jpg");
        }

        46% {
            background-image: url("../images/carousel/collage_paintings.jpg");
        }

        50% {
            background-image: url("../images/carousel/collage_posters.jpg");
        }

        62% {
            background-image: url("../images/carousel/collage_posters.jpg");
        }

        66% {
            background-image: url("../images/carousel/collage_stickers.jpg");
        }

        79% {
            background-image: url("../images/carousel/collage_stickers.jpg");
        }

        83% {
            background-image: url("../images/carousel/collage_paintings.jpg");
        }

        96% {
            background-image: url("../images/carousel/collage_paintings.jpg");
        }

        100% {
            background-image: url("../images/carousel/collage_posters.jpg");
        }
    }

    /* CONTENT > PORTFOLIO */

    main#gallery h2 {
        font-size: 3em;
    }

    main#gallery p {
        font-size: 2em;
    }

    .section-images {
        column-count: 5;
        column-gap: 2em;
    }

    .section-images div {
        margin-bottom: 1.2em;
    }

    img.thumbnail {
        border: 4px solid transparent;
    }

    img.thumbnail,
    span.lightbox {
        cursor: pointer;
    }

    img.thumbnail:hover {
        border: 4px solid #B3BF49;
        box-shadow: 0 0 10px #B3BF49;
    }

    /* CONTENT > CONTACT */
    .grid {
        display: grid;
        grid-template-columns: fit-content(40%);
        grid-column-gap: 100px;
    }

    main#contact-socials {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    main#contact-socials li {
        list-style-type: none;
    }

    main#contact-form,
    main#contact-socials {
        float: left;
        width: 20%;
    }

    /* FOOTER */

    footer {
        position: sticky;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #25171A;
        width: 100%;
        height: 100px;
        margin-top: 100px;
        z-index: 2;
    }

    footer li {
        list-style-type: none;
        float: left;
        display: block;
    }

    footer li a {
        display: inline-block;
        font-size: 2em;
        color: #9689F6;
        line-height: 100px;
        width: 250px;
        text-align: center;
    }

    footer li a:hover {
        color: #C8C5E3;
        font-weight: bold;
        background-color: #555080;
    }

}